.container {
  width: 100%;
}

.horizontalRow {
  padding: 1rem 0rem;
  display: flex;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.horizontalRow::-webkit-scrollbar {
  background: transparent;
}

.horizontalRow::-webkit-scrollbar-thumb {
  background-color: transparent;
  /* border-radius: 10px; */
}

.paddingHeading {
  padding: 0rem 1rem;
  font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: 'Montserrat', sans-serif;
}

.flex {
  /* background-color: royalblue; */
  display: flex;
  padding: 1rem 1rem;
  flex-wrap: wrap;
}

.textBox {
  padding-left: 1rem;
  padding-right: 1rem;
}

.synopsis {
  padding-left: 1rem;
  padding-right: 1rem;
  /* background-color: red; */
  margin: 2.5rem 0rem;
}

.synopsisText {
  line-height: 1.7rem;
  font-size: 1.1rem;
  font-family: 'Montserrat', sans-serif;
}

.img {
  padding: 0.7rem 0.7rem;
  transition: all 0.3s;
  /* border: 1px solid #ddd; */
  border-radius: 4px;
  /* cursor: pointer; */
  text-decoration: none;
  width: 225px;
  height: auto;
  background: rgba(255, 255, 255, 0.4);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  margin-bottom: 2rem;
}

.charactersDiv {
  margin: 1rem 0rem;
}

.penIcon {
  margin: 0px 5px;
  color: #8c7ae6;
}

.favIcon {
  margin: 0px 5px;
  color: red;
}

.usersIcon {
  margin: 0px 5px;
  color: #3498db;
}

.typeIcon {
  margin: 0px 5px;
  color: #2ecc71;
}

.waveIcon {
  margin: 0px 5px;
  color: #d35400;
}

.bulbIcon {
  margin: 0px 5px;
  color: #f1c40f;
}

.thermometerIcon {
  margin: 0px 5px;
  color: #e74c3c;
}

.starIcon {
  margin: 0px 5px;
  color: #fbc531;
}

.loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

@media (max-width: 360px) {
  .textBox {
    padding-left: 0rem;
  }
}
@media (max-width: 375px) {
  .textBox {
    padding-left: 0rem;
  }
}
@media (max-width: 380px) {
  .textBox {
    padding-left: 0rem;
  }
}
@media (max-width: 420px) {
  .textBox {
    padding-left: 0rem;
  }
}
@media (max-width: 480px) {
  .textBox {
    padding-left: 0rem;
  }
}
@media (max-width: 600px) {
  .textBox {
    padding-left: 0rem;
  }
}
