.container {
  width: 100%;
}

.horizontalRow {
  display: flex;
}

.paddingHeading {
  padding: 0rem 1rem;
}

.flex {
  /* background-color: royalblue; */
  display: flex;
  padding: 1rem 1rem;
  flex-wrap: wrap;
}

.textBox {
  padding-left: 1rem;
  padding-right: 1rem;
  /* background-color: royalblue; */
}

.synopsis {
  padding-left: 1rem;
  /* background-color: red; */
  margin: 2.5rem 0rem;
}

.synopsisText {
  line-height: 1.6rem;
}

.charactersDiv {
  margin: 1rem 0rem;
}
