.horizontalRow {
  display: flex;
  padding: 1rem 0rem;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  margin: 0rem 1rem;
}

.horizontalRow:hover {
  overflow-x: auto;
}
.horizontalRow::-webkit-scrollbar {
  background: transparent;
}

.horizontalRow::-webkit-scrollbar-thumb {
  background-color: transparent;
  /* border-radius: 10px; */
}

.heading {
  font-size: 2rem;
  text-align: center;
  color: #2c3e50;
  font-family: 'Montserrat', sans-serif;
}
