.container {
  padding: 1rem 1rem;
}

.flex-grid {
  display: flex;
  flex-wrap: wrap;
}
.col {
  flex: 1;
}

@media (max-width: 400px) {
  .flex-grid {
    display: block;
  }
  .col {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 411px) {
  .flex-grid {
    display: block;
  }
  .col {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 414px) {
  .flex-grid {
    display: block;
  }
  .col {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 500px) {
  .flex-grid {
    display: block;
  }
  .col {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 609px) {
  .flex-grid {
    display: block;
  }
  .col {
    display: flex;
    justify-content: center;
  }
}
