.card {
  margin: 1rem 1rem;
  padding: 1rem 1rem;
  transition: all 0.3s;
  /* border: 1px solid #ddd; */
  border-radius: 4px;
  /* cursor: pointer; */
  text-decoration: none;
  width: 225px;
  -webkit-overflow-scrolling: touch;
  background: rgba(255, 255, 255, 0.4);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.card:hover {
  /* transform: scale(1.03); */
  /* border-color: #3498db; */
  background: rgba(255, 255, 255, 0.6);
}

.title {
  font-weight: 400;
  color: rgba(0, 0, 0, 0.8);
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}

.startDate {
  font-weight: 500;
  color: rgba(0, 0, 0, 0.8);
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
}

.score {
  color: rgba(0, 0, 0, 0.8);
  font-family: 'Montserrat', sans-serif;
}

.starIcon {
  margin: 0px 5px;
  color: #fbc531;
}
