.card {
  margin: 1rem 1rem;
  padding: 1rem 1rem;
  transition: all 0.3s;
  /* border: 1px solid #ddd; */
  background: rgba(255, 255, 255, 0.4);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  max-width: 225px;
}

.card:hover {
  background: rgba(255, 255, 255, 0.6);
}

.title {
  font-weight: 400;
  color: rgba(0, 0, 0, 0.8);
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}

.img {
  width: 100%; /* or max-width: 100%; */
  height: auto;
}
