.container {
  width: 225px;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 0.3rem;
  height: 400px;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 4px;
  margin: 0rem 1rem;
}
.imgPlaceholder {
  width: 225px;
  height: 317px;
  background-color: #ccc;
}

.text {
  width: 225px;
  height: 15px;
  margin-top: 10px;
  border-radius: 17px;
  background-color: #ccc;
}
